.navbar {
    height: 61px;
    background: fff;
}

.text-line-searchfield {
    width: 300px;
    background-color: transparent;
    outline: none;
    outline-style: none;
    outline-offset: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    padding: 3px 10px;
}
.count-symbol {
  
    width: 10px;
    height: 10px;

    position: absolute;
    border-radius: 100%;
    border: 2px solid #ffffff;
    margin: -5px;
    padding: 0;
}

.container-fluid {
    background: #F0F0F7;
    height: 700px;
}


.sidebar-item {

}
.sidebar-item.active {
    background: rgb(196, 196, 196); /* #008AC2; */
}


.sidebar-link {

}
.sidebar-link.active {
    color: green;
}